/* ---------------------------------------------------------------------------------------------------- */
/* GENERAL INFO */
/* ---------------------------------------------------------------------------------------------------- */
/*
Website Colors
Blue: #142860
Red: #b52019
White: #eaeaea

Text Colors
White: #ffffff
Black: #000000
Gray: #737373

Font:
Titles and Headings: Kanit
Body text: Montserrat
*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");





/* ---------------------------------------------------------------------------------------------------- */
/* GLOBAL STYLES */
/* ---------------------------------------------------------------------------------------------------- */

body {
    width: 1920px;
    background-color: #142860;
    margin: 0 auto;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}





/* ---------------------------------------------------------------------------------------------------- */
/* HOME PAGE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* NAV */
/* ---------------------------------------------------------------------------------------------------- */

.navbar {
    width: 1920px;
    height: 100px;
    background-color: #eaeaea;
    padding-left: 162px;
    padding-right: 162px;
}

.logo {
    width: 335px;
    height: 100px;
}

.logo:hover {
    width: 335px;
    height: 100px;
    background-color: #b52019;
}

.nav-link {
    color: #142860;
    margin-left: 240px;
}

.nav-link:hover {
    color: #b52019;
}





/* ---------------------------------------------------------------------------------------------------- */
/* CAROUSEL */
/* ---------------------------------------------------------------------------------------------------- */

.carousel {
    margin-bottom: 50px;
}

.carousel-inner {
    margin: 0 auto;
}

.header-image1 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header1.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image2 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header2.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image3 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header3.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image4 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header4.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image5 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header5.jpg');
    background-size: cover;
    background-position: center;
}

.header-image6 {
    width: 1920px;
    height: 860px;
    background-image: url('/assets/header6.jpg');
    background-size: cover;
    background-position: bottom;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.50);
}





/* ---------------------------------------------------------------------------------------------------- */
/* DOCUMENT READY */
/* ---------------------------------------------------------------------------------------------------- */

.doc-ready {
    width: 1300px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}





/* ---------------------------------------------------------------------------------------------------- */
/* WEATHER API */
/* ---------------------------------------------------------------------------------------------------- */

.temp {
    color: #b52019;
    text-align: center;
    margin-bottom: 50px;
}





/* ---------------------------------------------------------------------------------------------------- */
/* ACCORDION */
/* ---------------------------------------------------------------------------------------------------- */

.accordion {
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.accordion-button {
    color: #ffffff;
    background-color: #b52019;
}





/* ---------------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------------------------------------------- */

footer {
    width: 1920px;
    height: 200px;
    background-color: #eaeaea;
    padding-top: 40px;
    text-align: center;
    color: #142860;
}

.social-media-icons {
    width: 375px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.facebook {
    width: 75px;
    height: 75px;
    background-image: url("/assets/facebook.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.instagram {
    width: 75px;
    height: 75px;
    background-image: url("/assets/instagram.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.twitter {
    width: 75px;
    height: 75px;
    background-image: url("/assets/twitter.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}





/* ---------------------------------------------------------------------------------------------------- */
/* TRIPS PAGE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* TITLE INTRO SECTION */
/* ---------------------------------------------------------------------------------------------------- */

.title-intro {
    width: 1300px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}





/* ---------------------------------------------------------------------------------------------------- */
/* FILTER OPTIONS */
/* ---------------------------------------------------------------------------------------------------- */

.btn-group {
    width: 1920px;
    margin-bottom: 50px;
    padding-left: 162px;
    padding-right: 162px;
}

.btn-group label {
    font-weight: bold;
    color: #ffffff;
    background-color: #b52019;
    border: solid 2px #ffffff;
}





/* ---------------------------------------------------------------------------------------------------- */
/* CARDS */
/* ---------------------------------------------------------------------------------------------------- */

.card-container {
    width: 1920px;
    height: auto;
    padding-left: 162px;
    padding-right: 162px;
}

.row {
    width: 1596px;
    height: auto;
}

.card {
    width: 350px;
    height: 650px;
    background-color: #eaeaea;
    color: #000000;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-img-top {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: bottom;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.card-title {
    font-weight: bold;
}

.card-body a {
    font-weight: bold;
    color: #ffffff;
    border: solid 2px #ffffff;
    background-color: #b52019;
}

.card-body a:hover {
    font-weight: bold;
    color: #b52019;
    border: solid 2px #b52019;
    background-color: #eaeaea;
}





