/*
Website Colors
Blue: #142860
Red: #b52019
White: #eaeaea

Text Colors
White: #ffffff
Black: #000000
Gray: #737373

Font:
Titles and Headings: Kanit
Body text: Montserrat
*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');










/* ---------------------------------------------------------------------------------------------------- */
/* GLOBAL STYLES */
/* ---------------------------------------------------------------------------------------------------- */

body {
    width: 1920px;
    background-color: #142860;
    margin: 0 auto;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}










/* ---------------------------------------------------------------------------------------------------- */
/* NAV */
/* ---------------------------------------------------------------------------------------------------- */

.navbar {
    width: 100%;
    height: 100px;
    background-color: #eaeaea;
    padding-left: 162px;
    padding-right: 162px;
}

.logo {
    height: 100px; 
}

.navbar-nav {
    
}

.nav-link {
    color: #142860;
    margin-left: 242px;
}










/* ---------------------------------------------------------------------------------------------------- */
/* CAROUSEL */
/* ---------------------------------------------------------------------------------------------------- */

.header-image {
    width: 1596px;
    height: 700px;
    
}