/*
Website Colors
Blue: #142860
Red: #b52019
White: #eaeaea

Text Colors
White: #ffffff
Black: #000000
Gray: #737373

Font:
Titles and Headings: Kanit
Body text: Montserrat
*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');










/* ---------------------------------------------------------------------------------------------------- */
/* GLOBAL STYLES */
/* ---------------------------------------------------------------------------------------------------- */

body {
    width: 1920px;
    background-color: #142860;
    margin: 0 auto;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}










/* ---------------------------------------------------------------------------------------------------- */
/* NAV */
/* ---------------------------------------------------------------------------------------------------- */

.navbar {
    width: 1920px;
    height: 100px;
    background-color: #eaeaea;
    padding-left: 162px;
    padding-right: 162px;
}

.logo {
    height: 100px; 
}

.navbar-nav {
    
}

.nav-link {
    color: #142860;
    margin-left: 242px;
}










/* ---------------------------------------------------------------------------------------------------- */
/* HOME */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* CAROUSEL */
/* ---------------------------------------------------------------------------------------------------- */

.carousel-inner {
    padding-left: 162px;
    padding-right: 162px;
}

.header-image1 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header1.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image2 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header2.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image3 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header3.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image4 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header4.jpg');
    background-size: cover;
    background-position: bottom;
}

.header-image5 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header5.jpg');
    background-size: cover;
    background-position: center;
}

.header-image6 {
    width: 1596px;
    height: 800px;
    background-image: url('/assets/header6.jpg');
    background-size: cover;
    background-position: bottom;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.50);
}










/* ---------------------------------------------------------------------------------------------------- */
/* CARDS */
/* ---------------------------------------------------------------------------------------------------- */

.card-container {
    width: 1920px;
    height: auto;
    padding-left: 162px;
    padding-right: 162px;
}

.card-container h2 {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    width: 1596px;
    height: auto;
}

/* Card */

.card {
    width: 350px;
    height: 600px;
    background-color: #eaeaea;
    color: #000000;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-img-top {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: bottom;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.card-title {
    font-weight: bold;
}





/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* 

PERSONAL NOTES:

1. Something is going on with card margins and padding. Need to figure out what is causing it to stretch past specified width.
2. Also need to add BOOK NOW button to cards.

*/
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */





/* Weather API Styling */

.api-text {
    color: #eaeaea;
    text-align: center;
    margin-top: 15px;
}